.hh-Multi-Select {
    position: relative !important;
    font-family: sans-serif;
    color: #1B242A;
    width: auto;
    box-sizing: border-box;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.hh-Input-Display {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}

.hh-Input-Display:focus {
    cursor: text;
}

.hh-Dropdown {
    position: absolute !important;
    top: 100%;
    left: 0;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
    outline: transparent;
    z-index: 99;
    transition: all 0.15s ease;
    width: auto !important;
    min-width: 100% !important;
}

.hh-Dropdown.top {
    top: auto;
    bottom: 100%;
}

.hh-Options-List {
    overflow-y: auto;
    max-height: 300px;
}

.hh-Option-Item {
    display: flex !important;
    align-items: center;
    margin-bottom: 0 !important;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0px;
    max-width: 100%;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.hh-Option-GroupLabel {
    padding: 6px 8px;
    font-weight: 600;
    color: #3C8A2E;
}

.hh-Option-Item:hover {
    background-color: #f5f5f5;
}

.hh-Option-Item.highlighted {
    border: 1px solid #000;
    outline: none;
}

.hh-No-Result {
    padding: 10px;
    color: #999;
    text-align: center;
    font-size: 14px;
}

.hh-Input-Wrapper.disabled,
.hh-Option-Item.disabled {
    opacity: 0.6;
    pointer-events: none;
    color: #aaa;
}

.hh-ChevronDown-Icon {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888;
    background: #f5f5f5;
    padding: 4.5px 6px;
    cursor: pointer !important;
}

.hh-Input-Wrapper:focus-within .hh-ChevronDown-Icon {
    padding: 3.5px 6px !important;
}